body {
  background-color: lavender;
}

.App {
  text-align: center;
  
}

nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkolivegreen;
  color: white;
  height:80px;
}

.nav-links {
  width:40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none; 
}

h3 {
  color:bisque;
  font-size: 30px;
}

button {
  font-size: 25px;
  margin-top: 100px;
  background-color:rgb(0, 255, 255);
  border:none;
  color:white;
  border-radius: 10px;
  height: 50px;
  width:100px
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

li.active {
  background-color: #555;
  height:70px;
  width:80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

li:hover {
  background-color: #777; 

}

